<section class="section">
  <div class="page-width" style="max-width:720px;">
    <div class="card-product__vendor">{{ article.published_at | date: "%B %d, %Y" }}</div>
    <h1>{{ article.title }}</h1>
    <div class="rte">{{ article.content }}</div>
  </div>
</section>
