{%- comment -%}
  Renders a price block.
  Accepts: product OR variant
{%- endcomment -%}

{%- liquid
  if variant
    assign target = variant
  else
    assign target = product
  endif

  assign on_sale = false
  if target.compare_at_price > target.price
    assign on_sale = true
  endif
-%}

<div class="price{% if on_sale %} price--on-sale{% endif %}">
  <span class="price__current">{{ target.price | money }}</span>
  {%- if on_sale -%}
    <span class="price__compare">{{ target.compare_at_price | money }}</span>
  {%- endif -%}
</div>
